/node_modules
/public/hot
/public/img/cms/flags/*
/public/storage
/public/img/cms/flags/*
/storage/*.key
/vendor
/.run
.idea
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/storage/debugbar
/envs
cms/
/routes/cms.php
/database
/tests
